body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}


.image-producto{
    width: 100px;
}
.logoNav{
    width: 80px;
}

.banner-inicio{
    width: 100%;
    height: 200px;
}

.bg-grey{
    background-color: #e9e9e9;
    border: 1px solid #dbdbdb;
}

.iconServ{
   width: auto;
   height: auto;
}
.textServ{
    font-weight: 600;
}
.pointer{
    cursor: pointer;
}
.bg-orange{
    background-color: #c70000;
}

.disp{
    display: flex;
    flex-direction:row;
}

.tamanioSlider{
    width: 8rem;
    min-height: 400px;
}

.img-slider{
    width: 70%;
}

.border{
    border: 1px solid grey;
}

.tamañoPrecio{
    font-size: large;
    color:#c70000 ;
}

.tamanioPrecaudos{
    width: 100%;
    height: 200px;
}
.cat-img-nav{
    width: 40px;
}
.cats{
    border: 1px solid rgb(212, 212, 212);
    font-size: small;
}

.cats a{
    text-decoration: none;
}

.catBox:hover{
    background-color: rgb(233, 232, 232);
}